<style>
.detail-btn-large{
  display:inline-block;
  font-family: "pp-neue-machina", sans-serif;
  font-size: 1.116vw;
  background-color: #1a1a1a;
  border: .5px solid #ffffff;
  color: #fff;
  padding-top: 0.279vw;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
  height: 4.185vw;
  transition: 0.2s ease-in-out;
}

.detail-btn-large:hover{
  background-color: #8000ff;
  box-shadow: inset 0vw 0vw 0vw 0.335vw #1a1a1a !important;
}

 /* Icon Styling */

.detail-btn-large .icon-enter-arrow{
  display: inline-block;
  position: relaitve;
  margin-right: 0.558vw;
  transition: 0.2s ease-in-out;
}

.detail-btn-large:hover .icon-enter-arrow{
  display: inline-block;
  transform: rotate(-45deg) !important;
}

</style>

<button href="#" class="detail-btn-large"><i class="icon-enter-arrow"></i>VIEW ALL DETAILS</button>
