<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link footer-link small" aria-current="page" href="#">Careers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-link small" href="#">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link footer-link small" href="#">Terms of Use</a>
  </li>
</ul>

<style>
  .footer-link{
    text-transform: lowercase;
    color: white;
    padding: 0px 0px 0px 40px !important;
  }

  .footer-link:hover{
    color: #00ffd0 !important;
    text-decoration:underline;
  }

</style>
