<div class="card card-thumbnail" style="width: 100%">
  <img src="/Images/package-thumb-1.jpg" class="card-img-top" alt="..." style="width:100%; height:100%;">
  <div class="card-body thumbnail-body">
    <p class="card-text">V2.35 >45 installs</p>
    {{- partial "detail-btn.html" . -}}
  </div>
</div>

<style>

@media only screen and (min-width: 576px) {

  .card-thumbnail{
    background: none;
    border-radius: 0px !important;
    border: 1px solid #949494;
    padding: 1.674vw;
  }

  .thumbnail-body{
    border-radius: 0px !important;
    padding: 0vw;
  }

  .card-img-top{
    border-radius: 0px;
    margin-bottom: 1.674vw;
  }

  .card-text{
    font-size: 0.781vw;
    float:left;
    position: relative;
    top:0.502vw;
  }

}

@media only screen and (max-width: 576px) {

  .card-thumbnail{
    background: none;
    border-radius: 0px !important;
    border: none;
  }

  .thumbnail-body{
    border-radius: 0px !important;
    padding: 0vw;
  }

  .card-img-top{
    border-radius: 0px;
    margin-bottom: 1.674vw;
  }

  .card-text{
    font-size: 0.781vw;
    float:left;
    position: relative;
    top:0.502vw;
  }

}

</style>
