<!-- Package Grid -->

<section>

  <!-- Package Grid Header -->
  <hr>
    <div class="container package-grid-header">
      <h3 style="margin-bottom:-20px;">packages</h3>
    </div>
  <hr>
  <div class="container package-grid">

    <!-- Start Package Grid -->

    <div class="row package-row black-bg g-0">
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
      </div>
      <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
        {{- partial "package-thumbnail.html" . -}}
      </div>
    </div>
  </div>
</section>
