/* Full-Width CTA */

.btn-primary{
  padding: 2.455vw 4.185vw;
  border-radius: 0px !important;
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
  font-size: 2vw;
  border-left: 2px solid #949494 !important;
  border-right: 2px solid #949494 !important;
  background-color: #1a1a1a !important;
  outline: none !important;
  box-shadow: none !important;
  text-align: left;
  border-top-color:#1a1a1a;
  border-bottom-color: #1a1a1a;
  transition: 0.2s linear;
}

.btn-primary:hover{
  background-color: #00ffd0 !important;
  color: #1a1a1a;
  border-top-color:#00ffd0;
  border-bottom-color:#00ffd0;
  border-left-color:#00ffd0;
  border-right-color:#00ffd0;
  box-shadow: inset 0vw 0vw 0vw 0.558vw #1a1a1a !important;
  padding: 2.455vw 5.580vw;
  border-top-color:#1a1a1a;
  border-bottom-color: #1a1a1a;
}

.button-container{
  padding: 0vw 8.929vw;
}

/* Icon Styling */

.btn-primary .icon-enter-arrow{
 display: inline-block;
 position: relaitve;
 margin-right: 0.558vw;
 transition: 0.2s linear;
}

.btn-primary:hover .icon-enter-arrow{
 display: inline-block;
 transform: rotate(-45deg) !important;
}
