#nb-gen-art-1{
  position: absolute;
  background-image: url("/Images/tea-cover-nb-team.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40.9vw;
  height: 20.7vw;
  right: 13.2vw !important;
  top: 16vw !important;
  z-index: 1;
}

#nb-gen-art-2{
  position: absolute;
  background-image: url("/Images/gen-art/glass-triangles.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40.9vw;
  height: 16.7vw;
  left: 8.4vw; !important;
  top: 12.5vw;
  z-index: 1;
}

.nb-man-hero{
  background-image: url("/Images/x-large-grid.svg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  border-bottom: 2px solid #949494;
}

#nb-man-float{
  position: relative;
  padding-left: 25vw;
}

.nb-man-hero h1{
  position: relative;
  z-index: 2;
}

.nb-lead{
  position: relative;
  z-index: 2;
  width: 30vw;
}

.comic-thumb{
  width:100%;
}

.parallel-btn-container{
  margin-bottom: 1.5vw;
}

.nb-small-text-container{
  margin-top: 1vw !important;
}

.catalog-container{
  border-bottom: 2px solid #949494;
}
