/* General/Utilities */

body{
  background-color: #1a1a1a;
  max-width: 1920px;
  background-image: url("/Images/x-large-grid.svg");
  background-size: auto;
}

.hero-container{
  background-image: url("/Images/x-large-grid-hero.svg");
  background-size: auto;
  background-color: #1a1a1a;
}

.container{
  max-width: 1920px;
  padding:0px;
}

@media only screen and (min-width: 1280px) {
  .container{
    padding: 160px 132px 0px 132px;
  }
}

/* Navbar General */

div.container-fluid.top-nav{
  padding-left: 0px !important;
}

.navbar{
  background-color: #1a1a1a !important;
  height: 80px;
  border-bottom: 2px solid #949494;
}

.nav-logo{
  width: 78px;
  transition: 0.2s ease-in-out;
}

.nav-logo:hover{
  transform: scale(0.9);
}

.nav-item{
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
}

/* Brand Colors */

  /* Type Colors */

  .teal{
    color:#00ffd0;
  }

  .black{
    color: #1a1a1a;
  }

  .dark-gray{
    color: #4d4d4d;
  }

  .grid-gray{
    color: #949494;
  }

  .light-gray{
    color: #e1e1e1;
  }

  .white{
    color: #ffffff;
  }

  .purple{
    color: #8000ff;
  }

  .orange{
    color: #ff4100;
  }

  /* Background Colors */

  .teal-bg{
    background-color:#00ffd0;
  }

  .black-bg{
    background-color: #1a1a1a;
  }

  .dark-gray-bg{
    background-color: #4d4d4d;
  }

  .grid-gray-bg{
    background-color: #949494;
  }

  .light-gray-bg{
    background-color: #e1e1e1;
  }

  .white-bg{
    background-color: #ffffff;
  }

  .purple-bg{
    background-color: #8000ff;
  }

  .orange-bg{
    background-color: #ff4100;
  }

/* General Typography */

@font-face {
  font-family: "pp-neue-machina";
  src: url("/fonts/PPNeueMachina-InktrapLight.woff");
}

@font-face {
  font-family: "sono";
  src: url("/fonts/Sono-Light.woff2");
}

h1{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
  text-transform:uppercase;
}

h2{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

h3{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
  text-transform: uppercase;
}

h4{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

p{
  font-family: "sono", sans-serif;
  color: #ffffff;
}

/* Breakpoint-Specific Typography */


@media only screen and (min-width: 1280px) {

  h1{
    font-size: 224px;
    line-height: 240px;
    margin-top: -18px;
  }

  h2{
    font-size: 110px;
    line-height: 160px;
  }

  h3{
    font-size: 38px;
    line-height: 45px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 28px !important;
    line-height: 29px !important;
  }

  p{
    font-size: 20px;
  }

}

/* Buttons */

.btn-primary{
  padding: 65px 80px;
  border-radius: 0px !important;
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  border-left: 2px solid #949494 !important;
  border-right: 2px solid #949494 !important;
  background-color: #1a1a1a !important;
  outline: none !important;
  box-shadow: none !important;
  text-align: left;
  border-top-color:#1a1a1a;
  border-bottom-color: #1a1a1a;
}

.btn-primary:hover{
  background-color: #00ffd0 !important;
  color: #1a1a1a;
  border-top-color:#00ffd0;
  border-bottom-color:#00ffd0;
}

.button-container{
  padding: 0px 160px;
}

/* Spacers & Dividers */

hr{
  border-bottom: 2px solid #949494 !important;
  opacity: 1;
  margin:0px !important;
}

/* Homepage */

@media only screen and (min-width: 1280px) {

  .hero-section{
    margin-bottom: 80px;
  }

  .impact-section{
  }

  .about-block{
    padding: 80px !important;
  }

  .grid-element{
    z-index: 1;
    position: absolute;
  }
}
