/* General/Utilities */

body{
  background-color: #1a1a1a;
  max-width: 1920px;
  /*
  background-image: url("/Images/xl-grid-quarter-opacity.svg");
  background-size: contain;*/
}

.container{
  max-width: 1920px;
  padding:20px;
}

@media only screen and (min-width: 1200px) {

  .container{
    padding: 4.185vw 8.371vw 4.185vw 8.371vw;
  }

  /* M5 Spacers (Bootstrap Utilities)*/

  .m-5{
    margin: 225px !important;
  }
  .mb-5{
    margin-bottom: 225px !important;
  }
  .mt-5{
    margin-top: 225px !important;
  }
  .ms-5{
    margin-left: 225px !important;
  }
  .me-5{
    margin-right: 225px !important;
  }
}

/* Navbar General */

div.container-fluid.top-nav{
  padding-left: 0px !important;
}

.navbar{
  background-color: #1a1a1a !important;
  height: 4.5vw;
  border-bottom: 2px solid #949494;
}

.nav-logo{
  width: 4.4vw;
}

.nav-logo:hover{
  transform: scale(0.9);
}

.nav-item{
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
  font-size: .8vw;
}

/* Brand Colors */

  /* Type Colors: */
  /* Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*/

  .teal{color:#00ffd0;}.black{color:#1a1a1a;}.dark-gray{color:#4d4d4d;}.grid-gray{color:#949494;}.light-gray{color: #e1e1e1;}.white{color:#ffffff;}.purple{color: #8000ff;}.orange{color: #ff4100;}

  /* Background Colors */
  /*Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*/

  .teal-bg{background-color:#00ffd0;}.black-bg{background-color: #1a1a1a;}.dark-gray-bg{background-color: #4d4d4d;}.grid-gray-bg{background-color: #949494;}.light-gray-bg{background-color: #e1e1e1;}.white-bg{background-color: #ffffff;}.purple-bg{background-color: #8000ff;}.orange-bg{background-color: #ff4100;}

/* General Typography */
/*Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*/

@font-face {
  font-family: "pp-neue-machina";
  src: url("/fonts/PPNeueMachina-InktrapLight.woff");
}

@font-face {
  font-family: "sono";
  src: url("/fonts/Sono-Light.woff2");
}

h1{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
  text-transform:uppercase;
}

h2{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

h3{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

h4{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

p{
  font-family: "sono", sans-serif;
  color: #ffffff;
}

li{
  font-family: "sono", sans-serif;
  color: #ffffff;
}

/* Breakpoint-Specific Typography */


/* Extra-Large Screens*/
/*@media only screen and (min-width: 1200px) {*/

  h1{
    font-size: 11.5vw;
    line-height: 12.4vw;
    margin-top: -20px;
    margin-left: -15px;
  }

  h2{
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: 37px;
  }

  h3{
    font-size: 3.8rem;
    line-height: 80px;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 1.5vw !important;
    line-height: 1.7vw !important;
    margin-bottom: 40px;
  }

  p{
    font-size: 20px;
  }
/*

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  h1{
    font-size: 10rem;
    line-height: 10rem;
    margin-top: -20px;
    margin-left: -15px;
  }

  h2{
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: 37px;
  }

  h3{
    font-size: 3.8rem;
    line-height: 80px;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 28px !important;
    line-height: 29px !important;
    margin-bottom: 40px;
  }

  p{
    font-size: 20px;
  }

}

@media only screen and (max-width: 576px) and (max-width: 768px){

  h1{
    font-size: 10rem;
    line-height: 10rem;
    margin-top: -20px;
    margin-left: -15px;
  }

  h2{
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: 37px;
  }

  h3{
    font-size: 3.8rem;
    line-height: 80px;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 28px !important;
    line-height: 29px !important;
    margin-bottom: 40px;
  }

  p{
    font-size: 20px;
  }

}

@media only screen and (max-width: 576px) {

  h1{
    font-size: 8rem;
    line-height: 8rem;
  }

  h2{
    font-size: 6rem;
    line-height: 7rem;
    margin-bottom: 37px;
  }

  h3{
    font-size: 3.8rem;
    line-height: 80px;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 28px !important;
    line-height: 29px !important;
    margin-bottom: 40px;
  }

  p{
    font-size: 20px;
  }

}
*/

/* Spacers & Dividers */

hr{
  border-bottom: 2px solid #949494 !important;
  opacity: 1;
  margin: 0px !important;
}

/* Homepage */

@media only screen and (min-width: 1200px) {

  .hero-section{
  }

  .impact-section{

  }

  .about-block{
    padding: 80px 160px; !important;
    margin: -200px 150px 0px 150px;;
    position: relative;
    top:200px;
    border: 2px solid #949494;
  }



  .package_before{
    background-image: url("/Images/x-large-grid.svg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
    padding-top: 225px;
    padding-bottom: 225px;
  }

  .package-cta{
    background-image: url("/Images/x-large-grid.svg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
  }

  .statistics{
    background-image: url("/Images/x-large-grid.svg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
  }

  .partners{
    background-image: url("/Images/x-large-grid.svg");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
  }

}

/* Package Display Section */

.grid-square{
  margin-bottom: 20px;
  height:320px;
  background-color: gray;
  width: 100%;
}

.package-label{
  font-size: 14px;
  float:left;
  padding: 10px 0px;
}

.detail-btn{
  float:right;
}

.package-grid{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-image: url("/Images/x-large-grid.svg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

.vl{
  background-color: #1a1a1a;
}

/* Footer Styling */

.footer-email{
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 38px;
  padding: 35px 0px;
  background: none;
  border: none;
}

.footer-email:focus{
  background-color: #1a1a1a;
  color: #fff;
  outline: none !important;
  box-shadow: none !important;
}

.social-box{
  border-radius: 0px !important;
  border: 2px solid #949494;
  background-color: none;
}

.list-group{
  border-radius: 0px !important;
}

.list-group-item{
  background-color: #1a1a1a !important;
  padding: 20px;
  font-size: 28px;
  color: #fff;
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #949494;
  transition: 0.2s ease-in-out;
}

.list-group-item:hover{
  padding-left: 40px;
  background-color: #00ffd0 !important;
  box-shadow: inset 0px 0px 0px 7px #1a1a1a !important;
  color: #1a1a1a !important;
}

.footer-content{
  padding-right: 100px;
}

.email-btn{
  width: 16%;
  border-left: 2px solid #949494;
  border-right: none !important;
  border-radius: 0px;
  font-family: "pp-neue-machina", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
}

.email-btn:hover{
  background-color: #00ffd0;
  color: #1a1a1a;
  box-shadow: inset 0px 0px 0px 7px #1a1a1a !important;
}

.social-icon{
  margin-right: 20px !important;
  position: relative;
  top:3px;
}
