/* General Typography */

@font-face {
  font-family: "pp-neue-machina";
  src: url("/fonts/PPNeueMachina-InktrapLight.woff");
}

@font-face {
  font-family: "sono";
  src: url("/fonts/Sono-Light.woff2");
}

h1,h2,h3,h4,h5,h6,p,.lead{
  hyphens: auto;
}

h1{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
  text-transform:uppercase;
}

h2{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

h3{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

h4{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
}

h5{
  font-family: "pp-neue-machina", sans-serif;
  color:#00ffd0;
  text-transform: uppercase;
}

p{
  font-family: "sono", sans-serif;
  color: #ffffff;
}

li{
  font-family: "sono", sans-serif;
  color: #ffffff;
}

/* Breakpoint-Specific Typography */


/* Extra-Large Screens*/
/*@media only screen and (min-width: 1200px) {*/

  h1{
    font-size: 11.5vw;
    line-height: 12.4vw;
    margin-top: -1.116vw;
    margin-left: -0.837vw;
    margin-bottom: 1.2vw;
  }

  h2{
    font-size: 5.5vw;
    line-height: 8.4vw;
  }

  h3{
    font-size: 3.8rem;
    line-height: 8.3vw;
  }

  h4{
    font-size: 2.121vw;
    line-height: 4.116vw;
  }

  h5{
    font-size: 1.5vw;
    line-height: 4.116vw;
    margin-top: -0.3vw;
    margin-bottom: 1.2vw;
  }

  .lead{
    font-size: 1.5vw !important;
    line-height: 1.7vw !important;
    margin-bottom: 2.232vw;
  }

  p{
    font-size: 1.116vw;
  }

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  h1{
    font-size: 14vw;
    line-height: 15vw;
    margin-top: -0.3vw;
    margin-left: -0.837vw;
  }

  h2{
    font-size: 6.5vw;
    line-height: 10vw;
  }

  h3{
    font-size: 3.4rem;
    line-height: 10vw;
  }

  h4{
    font-size: 3vw;
    line-height: 5.116vw;
  }

  h5{
    font-size: 1.5vw;
    line-height: 5vw;
    margin-top: -0.3vw;
    margin-bottom: 1.2vw;
  }

  .lead{
    font-size: 2vw !important;
    line-height: 2.8vw !important;
    margin-bottom: 2.232vw;
  }

  p{
    font-size: 1.667vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  h1{
    font-size: 14vw;
    line-height: 15vw;
    margin-top: -0.3vw;
    margin-left: -0.837vw;
  }

  h2{
    font-size: 7vw;
    line-height: 10vw;
  }

  h3{
    font-size: 4.5vw;
    line-height: 10vw;
  }

  h4{
    font-size: 3.5vw;
    line-height: 5vw;
  }

  h5{
    font-size: 2vw;
    line-height: 5vw;
  }

  .lead{
    font-size: 3vw !important;
    line-height: 3vw !important;
  }

  p{
    font-size: 2.016vw;
  }

}

@media only screen and (min-width: 576px) and (max-width: 768px){

  h1{
    font-size: 18.5vw;
    line-height: 20vw;
    margin-top: 1vw;
    margin-left: -2vw;
  }

  h2{
    font-size: 6rem;
    line-height: 7rem;
  }

  h3{
    font-size: 3.8rem;
    line-height: 80px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 28px !important;
    line-height: 29px !important;
    margin-bottom: 40px;
  }

  p{
    font-size: 20px;
  }

}

@media only screen and (max-width: 576px) {

  h1{
    font-size: 21.5vw !important;
    line-height: 20.4vw !important;
  }

  h2{
    font-size: 4rem;
    line-height: 5rem;
  }

  h3{
    font-size: 12vw;
    line-height: 80px;
  }

  h4{
    font-size: 38px;
    line-height: 45px;
  }

  .lead{
    font-size: 4.800vw !important;
    line-height: 6vw !important;
  }

  p{
    font-size: 4vw;
  }

}
