{{ define "main" }}

<section class="products-hero">
<div class="gen-art animated-25 animatedFadeInUp fadeInUp" id="pro-gen-art-1"></div>
<div class="gen-art animated-25 animatedFadeInUp fadeInUp" id="pro-gen-art-2"></div>
<div class="gen-art animated-5 animatedFadeInUp fadeInUp" id="pro-gen-art-3"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Products</h1>
        <div class="lead-container">
          <p class="lead animated-5 animatedFadeInUp fadeInUp">Just like the perfect cup or tea, greatness needs time to steep. But we’re happy to announce that the wait is over… it’s time to take your first sip.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<section class="products-tea-cli">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-auto">
        <h3>tea cli</h3>
        <p>Our command-line interface is beautiful in it’s simplicity. Like that cup of lemon-ginger, we’ve designed our CLI or be snappy and to-the-point. There’s no honey or superfluous add-ins here; as with any good tool, our interface does what it <em>has to</em>, and then gets out of the way so that you can do what you <em>want</em> to.</p>
        <button onclick="window.location.href='/tea-cli/'" class="detail-btn-large"><i class="icon-enter-arrow"></i>VIEW ALL DETAILS</button>
      </div>
      <div class="col my-auto">
        <img src="/Images/tea_cli_mockup_no_background.png" alt="tea-cli preview" style="width:100%;">
      </div>
    </div>
  </div>
</section>

<hr>

<section class="products-tea-package-manager">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <h3>tea protocol</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        {{- partial "detail-btn-large.html" . -}}
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</section>

<hr>

<section class="products-tea-protocol">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <h3>package manager</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        {{- partial "detail-btn-large.html" . -}}
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</section>

{{ end }}
