{{ define "main" }}

<section class="tea-cli">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>TEA CLI</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>

<section class="teal-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="black text-center">TOTAL DOWNLOADS</p>
        <p class="black text-center"><span id="tea-cli-downloads">612,085</span></p>
      </div>
      <div class="col">
        <p class="black text-center">TOTAL DOWNLOADS</p>
        <p class="black text-center"><span id="tea-cli-ver-downloads">612,085</span></p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2>Versions</h2>
  </div>
  {{- partial "tea-cli-accordion.html" . -}}
</section>

{{ end }}
