{{ define "main" }}
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Keep <span class="white">what</span><br><span style="float:right;">is yours.</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="lead">The revolution is here. We’re calling on all open-source devs to authenticate their Github with tea.</p>
      </div>
    </div>
  </div>
  <hr>
    <div class="row button-container">
      <a href="#" role="button" class="btn btn-primary auth-btn mt-lg-0 mt-md-0 mt-sm-4 mt-4" id="nav-cta">Authenticate with tea</a>
    </div>
  <hr>
</section>
{{ end }}
