{{ define "main" }}
<section>
  <div class="container hero-container">
    <div class="row">
      <div class="col">
        <h1>Keep <span class="white">what</span><br><span style="float:right;">is yours.</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="lead" style="margin-top:-10px; margin-left: 20px;">The revolution is here. We’re calling on all open-source devs to authenticate their Github with tea.</p>
      </div>
    </div>
  </div>
  {{- partial "full-width-cta.html" . -}}
</section>

<section class="teal-bg">
  <div class="row">
    <div class="col">
      <h2 class="black text-center">equitable open-source for web3</h2>
    </div>
  </div>
</section>
{{ end }}
