{{ define "main" }}

<!-- Hero Section -->

<style>

  #hero-grid-system{
    position:absolute;
    width:100%;
    z-index: -3;
    margin-top:-5px;
  }

  .hero-section{
    background-image: url("/Images/x-large-grid-hero.svg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
  }

  .hero-container{
    position:relative;
    z-index: 2;
  }

  .full-width-cta-container{
    position:relative;
    z-index: 2;
  }

  .hero-bottom{
    background-image: url("/Images/x-large-grid-hero.svg");
    background-attachment: fixed;
    background-position: center-top;
    background-repeat: repeat;
    background-size: contain;
    height: 75px;
  }

</style>

<section class="hero-section">
<div class="gen-art" id="gen-art-1"></div>
<div class="gen-art" id="gen-art-2"></div>
<!--<img src="/Images/x-large-grid-hero.svg" id="hero-grid-system" alt="hero-grid-system">-->
  <div class="container hero-container">
    <div class="row">
      <div class="col">
        <h1>Keep <span class="white">what</span><br><span style="float:right;"><span class="white">is</span> yours.</span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="lead" style="margin-top:8px; margin-bottom: -9px;">The revolution is here. We’re calling on all open-source devs to authenticate their Github with tea.</p>
      </div>
    </div>
  </div>
  <div class="full-width-cta-container">
   {{- partial "full-width-cta.html" . -}}
  </div>
  <div class="hero-bottom">

  </div>
</section>

<!-- Teal Impact Section -->

<section class="teal-bg impact-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="black text-center" style="z-index:2;">equitable open-source<br>for <span class="cycle">web3</span></h2>
      </div>
    </div>
  </div>
</section>

<!-- Package Section: Before -->

<section>
  <div class="gen-art" id="gen-art-3"></div>
  <div class="gen-art" id="gen-art-4"></div>
  <div class="container package_before">
    <div class="row">
      <div class="col">
        <h2 style="margin-bottom: 1vw;">About tea.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</section>

<!-- Package Grid -->

{{- partial "package-grid.html" . -}}

<!-- Package CTA Section -->

<section>
  <hr>
    <div class="container">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col" style="margin: 150px 0px;">
          <h3 class="text-center">Stay tuned for our full launch.</h3>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua <a>Discord Community</a>.</p>
        </div>
      </div>
    </div>
</section>
{{- partial "full-width-discord-cta.html" . -}}

<!-- Statistics -->

<section class="statistics" style="padding-top: 8.371vw !important; padding-bottom: 8.371vw !important;">

<!-- Generative Art for this section -->

<div class="gen-art" id="gen-art-5"></div>
<div class="gen-art" id="gen-art-6"></div>
<div class="gen-art" id="gen-art-7"></div>
<div class="gen-art" id="gen-art-8"></div>
<div class="gen-art" id="gen-art-9"></div>

<!-- End generative art -->

  <div class="container">
    <div class="row mb-5">
      <div class="col">
        <h2>sta'tea'stics</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
        {{- partial "detail-btn-large.html" . -}}
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="metric-block" style="float:right; margin-top:-300px;">
          <p class="stat-head">PACKAGES AVAILABLE</p>
          <p class="stat-number teal">5,103,789</p>
        </div>
        <div class="metric-block mb-5 mt-4">
          <p class="stat-head">AUTHENTICATED DEVS</p>
          <p class="stat-number teal">500,000</p>
        </div>
        <div class="metric-block" style="float:right;">
          <p class="stat-head">OS CONTRIBUTIONS</p>
          <p class="stat-number teal">500,000</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{- partial "full-width-cta.html" . -}}

<style>

  .metric-block{
    padding: 4.185vw;
    border: 2px solid #949494;
    max-width: 41.741vw;
    background-color: #1a1a1a;
    position: relative;
    z-index:2;
  }

  .stat-head{
    font-size: 1.339vw;
  }

  .stat-number{
    font-family: "pp-neue-machina", sans-serif;
    font-size: 6.696vw;
    margin-top: -2.232vw;
    margin-bottom: -2.232vw;
  }

</style>

<!-- partners -->

<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>partners</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <img src="/Images/binance-logo-white.svg" alt="Binance Logo" style="width:16.183vw;">
        <img class="ps-5" src="/Images/galaxy-eco.svg" alt="Galaxy Eco Logo" style="width:40%;">
      </div>
    </div>
  </div>
</section>

{{ end }}
